<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"/>
        <title>User Panel - Procon Analytics</title>
    </head>

    <body>
        <header>
        <nav>
            <div class="nav-wrapper grey darken-3">
                <a href="#" class="brand-logo"><img src="img/logo.png" id="logo"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>login</li>
                    <li><a href="{% 'login' %}"><i class="material-icons">exit_to_app</i></a>
                    </li>
                </ul>
            </div>

        </nav>
        </header>
        <main>
            <!--Deskptop code START-->
            <div class="conteudo">
                <div class="row">
                    <div class="col l2 menu grey darken-2 hide-on-med-and-down">
                        <ul class="collapsible colapso lista" data-collapsible="accordion">
                        <a href="#"><li class="botao"><span class="menu-text">
                            <i class="material-icons icone">personal_video</i>Dashboard</span>
                        </li> </a>
                        <li>
                        <div class="collapsible-header colapsoh"><i class="material-icons">expand_more</i><span class="menu-text">Gerenciar Pesquisas</span></div>
                            <div class="collapsible-body colapsob center-align waves-effect"><a href="#"><span class="menu-text"><i class="material-icons icone">add</i>Inserir Dados</span></a></div>
                            <div class="collapsible-body colapsob center-align waves-effect"><a href="#"><span class="menu-text"><i class="material-icons icone">search</i>Consultar</span></a></div>
                        </li>
                        <li>
                        <div class="collapsible-header colapsoh"><span class="menu-text"> <i class="material-icons">expand_more</i>Gerenciar Empresas</span></div>
                        <div class="collapsible-body colapsob left-align waves-effect"><a href="#"><span class="menu-text"><i class="material-icons icone">add</i>Cadastrar Empresa</span></a></div>
                        <div class="collapsible-body colapsob left-align waves-effect"><a href="#"><span class="menu-text"><i class="material-icons icone">add</i>Editar Empresa</span></a></div>
                        <div class="collapsible-body colapsob left-align waves-effect"><a href="#"><span class="menu-text"><i class="material-icons icone">add</i>Consultar Empresas</span></a></div>
                        </li>
                        </ul>
                    </div>
                    <div class="col l10 m12 s12 dash-area grey lighten-5">
                        <div class="row linha">
                            <div class="col l4 m12 s12">
                                <div class="indigo darken-3 graphtab">
                                        oi
                                </div>
                            </div>
                            <div class="col l4 m12 s12">
                                <div class="green darken-2 graphtab">
                                        oi
                                </div>
                            </div>

                            <div class="col l4 m12 s12">
                                <div class=" red darken-1 graphtab">
                                        oi
                                </div>
                            </div>
                        </div>
                        <div class="row linha">
                            <div class="col l4 m12 s12">
                                <div class="indigo darken-3 graphtab">
                                        oi
                                </div>
                            </div>
                            <div class="col l4 m12 s12">
                                <div class="green darken-2 graphtab">
                                        oi
                                </div>
                            </div>

                            <div class="col l4 m12 s12">
                                <div class=" red darken-1 graphtab">
                                        oi
                                </div>
                            </div>
                        </div>
                    </div>

                    </div>

            </div>
        <!--Deskptop code END-->

        <!--Mobile code START-->

        <div class="conteudo show-on-small">
            <ul id="slide-out" class="side-nav grey darken-3">
                <a href="#" class="categoria"><li>
                    <i class="material-icons icone">personal_video</i>Dashboard
                </li> </a>
                <li>
                <div class="categoria">Gerenciar Pesquisas</div>
                    <div><a href="#" class="categoria"><i class="material-icons icone">add</i>Inserir Dados</a></div>
                    <div><a href="#" class="categoria"><i class="material-icons icone">search</i>Consultar</a></div>
                </li>
                <li>
                <div class="categoria">Gerenciar Empresas</div>
                    <div><a href="#" class="categoria"><i class="material-icons icone">add</i>Cadastrar Empresa</a></div>
                    <div><a href="#" class="categoria"><i class="material-icons icone">add</i>Editar Empresa</a></div>
                    <div><a href="#" class="categoria"><i class="material-icons icone">add</i>Consultar Empresas</a></div>
                </li>
            </ul>
            <ul id="slide-out" class="side-nav snav grey darken-2">
                <a href="#"><li class="z-depth-1">
                    <div class="z-depth-1 section" id="dash-menu">
                       <i class="material-icons icone">personal_video</i> Dashboard
                    </div>
                    </li>
                </a>
                <li>
                <div class="z-depth-1 section">Gerenciar Pesquisas</div>
                    <div><a href="#"><i class="material-icons icone">add</i>Inserir Dados</a></div>
                    <div><a href="#"><i class="material-icons icone">search</i>Consultar</a></div>
                </li>
                <li>
                    <div class="z-depth-1 section">Gerenciar Empresas</div>
                    <div><a href="#"><i class="material-icons icone">add</i>Cadastrar Empresa</a></div>
                    <div><a href="#"><i class="material-icons icone">add</i>Editar Empresa</a></div>
                    <div><a href="#"><i class="material-icons icone">add</i>Consultar Empresas</a></div>
                </li>
            </ul>
            <a class="btn hide" data-activates="slide-out"><i class="material-icons">menu</i></a>
        </div>

        <!--Mobile code END-->

        </main>
        <footer class="page-footer grey darken-3">
          <div class="footer-copyright">
            <div class="container">
                <span class="right-center">© 2018 Procon Analytics</span>
                <a class="grey-text text-lighten-4 right" href="#!">FAQ<i class="material-icons icone">help</i></a>
            </div>
          </div>
        </footer>

        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %"></script>
        <script>
            $(document).ready(function(){$(".btn").sideNav();});
        </script>
        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}" ></script>
    </body>
</html>