{% extends "base.html" %}
{% load static %}

{% block title %}
    Dashboard - Procon Analytics
{% endblock %}

{% block header %}
    <nav>
        <div class="nav-wrapper grey darken-3">
            <a href="#" class="brand-logo"><img src="{% static 'img/logo.png' %}"  id="logo"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>login</li>
                <li><a href="{% url 'login' %}"><i class="material-icons">exit_to_app</i></a>
                </li>
            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <div class="col l12 dash-area grey lighten-5">
        <iframe style="border: none;" src="graph" height="350x" width="500px"></iframe>
        <iframe style="border: none;" src="graph2" height="350px" width="500px"></iframe>
    </div>
{% endblock %}