<!DOCTYPE html>
{% load staticfiles %}

<html lang="en">
    <head>
        <title>
            Login - Procon Analytics
        </title>
        <meta charset="UTF-8">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link type="text/css" rel="stylesheet" href="{% static 'css/materialize.min.css' %}"  media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">

        <!--Let browser know website is optimized for mobile-->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8"/>
    </head>
    <body>
        <header>
            <div class="row grey darken-3 sombra">
                <div class="col l4"></div>
                <div class="col l4 s12"><img src="{% static 'img/logo.png' %}" alt="logo" id="loginl"></div>
                <div class="col l4"></div>

            </div>
        </header>
        
        <main>
            <div class="row">
                <div class="col l4"></div>
                <div class="col l4 grey white" id="loginbox">
                    <form class="col s12" action="" method="post">
                        <div class="input-field col l12 s12">
                            <input type="email" name="username" placeholder="Digite o usuário" id="user" class="validate">
                            <label for="email">Usuário</label>
                        </div>
                        
                        <div class="input-field col l12 s12">
                            <input type="password" name="password" placeholder="Digite sua senha" id="passwd" class="validate">
                            <label for="password">Senha</label>
                        </div>
                        <div class="input-field col l12 s12">
                            <button class="waves-effect waves-red orange darken-1 btn" type="submit" value="Login">
                                Enviar <i class="material-icons right">send</i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="col l4"></div>
            </div>
        </main>
        
        <footer class="page-footer grey darken-3">
            <div class="footer-copyright">
            <div class="container">
                <span class="right-center">© 2018 Procon Analytics</span>
                <a class="grey-text text-lighten-4 right" href="#!">FAQ</a>
            </div>
          </div>
        </footer>
        
        <!--Import jQuery before materialize.js-->
        <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/materialize.min.js' %}" ></script>
    </body>
</html>
