{% extends "base.html" %}
{% load static %}

{% block title %}
    Painel de Controle - Procon Analytics
{% endblock %}

{% block header %}
        <nav>
            <div class="nav-wrapper grey darken-3">
                <a href="#" class="brand-logo"><img src="{% static 'img/logo.png' %}" id="logo"></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li>login</li>
                    <li><a href="{% url 'login' %}"><i class="material-icons">exit_to_app</i></a>
                    </li>
                </ul>
            </div>

        </nav>
{% endblock %}

{% block content %}
<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">

<!--Deskptop code START-->
<div class="conteudo">

    <div class="row">
        <div class="col l2 menu grey darken-2 hide-on-med-and-down">
            <ul class="collapsible colapso lista" data-collapsible="accordion">
            <a href="#"><li class="botao"><span class="menu-text">
                <i class="material-icons icone">personal_video</i>Dashboard</span>
            </li> </a>
            <li>
            <div class="collapsible-header colapsoh"><i class="material-icons">expand_more</i><span class="menu-text">Gerenciar Pesquisas</span></div>
                <div class="collapsible-body colapsob center-align waves-effect"><a href="#"><span class="menu-text"><i class="material-icons icone">add</i>Inserir Dados</span></a></div>
                <div class="collapsible-body colapsob center-align waves-effect"><a href="#"><span class="menu-text"><i class="material-icons icone">search</i>Consultar</span></a></div>
            </li>
            <li>
            <div class="collapsible-header colapsoh"><span class="menu-text"> <i class="material-icons">expand_more</i>Gerenciar Empresas</span></div>
            <div class="collapsible-body colapsob left-align waves-effect"><a href="#"><span class="menu-text"><i class="material-icons icone">add</i>Cadastrar Empresa</span></a></div>
            <div class="collapsible-body colapsob left-align waves-effect"><a href="#"><span class="menu-text"><i class="material-icons icone">add</i>Editar Empresa</span></a></div>
            <div class="collapsible-body colapsob left-align waves-effect"><a href="#"><span class="menu-text"><i class="material-icons icone">add</i>Consultar Empresas</span></a></div>
            </li>
            </ul>
        </div>

        <div class="col l10 dash-area grey lighten-5">
             <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
            <iframe style="border: none;" src="graph" height="350x" width="500px"></iframe>
            <iframe style="border: none;" src="graph2" height="350px" width="500px"></iframe>
        </div>

    </div>
</div>

</div>

<!--Deskptop code END-->

<!--Mobile code START-->

        <div class="conteudo show-on-small">
            <ul id="slide-out" class="side-nav grey darken-3">
                <a href="#" class="categoria"><li>
                    <i class="material-icons icone">personal_video</i>Dashboard
                </li> </a>
                <li>
                <div class="categoria">Gerenciar Pesquisas</div>
                    <div><a href="#" class="categoria"><i class="material-icons icone">add</i>Inserir Dados</a></div>
                    <div><a href="#" class="categoria"><i class="material-icons icone">search</i>Consultar</a></div>
                </li>
                <li>
                <div class="categoria">Gerenciar Empresas</div>
                    <div><a href="#" class="categoria"><i class="material-icons icone">add</i>Cadastrar Empresa</a></div>
                    <div><a href="#" class="categoria"><i class="material-icons icone">add</i>Editar Empresa</a></div>
                    <div><a href="#" class="categoria"><i class="material-icons icone">add</i>Consultar Empresas</a></div>
                </li>
            </ul>
            <ul id="slide-out" class="side-nav snav grey darken-2">
                <a href="#"><li class="z-depth-1">
                    <div class="z-depth-1 section" id="dash-menu">
                       <i class="material-icons icone">personal_video</i> Dashboard
                    </div>
                    </li>
                </a>
                <li>
                <div class="z-depth-1 section">Gerenciar Pesquisas</div>
                    <div><a href="#"><i class="material-icons icone">add</i>Inserir Dados</a></div>
                    <div><a href="#"><i class="material-icons icone">search</i>Consultar</a></div>
                </li>
                <li>
                    <div class="z-depth-1 section">Gerenciar Empresas</div>
                    <div><a href="#"><i class="material-icons icone">add</i>Cadastrar Empresa</a></div>
                    <div><a href="#"><i class="material-icons icone">add</i>Editar Empresa</a></div>
                    <div><a href="#"><i class="material-icons icone">add</i>Consultar Empresas</a></div>
                </li>
            </ul>
            <a class="btn hide" data-activates="slide-out"><i class="material-icons">menu</i></a>
        </div>
<!--Mobile code END-->
<script> $(document).ready(function(){$(".btn").sideNav();}); </script>

{% endblock %}